= form_for ([@recipe, @recipe.directions.build]) do |f|
  
  .form-group
    .row
      = f.label :order
      = f.text_field :order
    .row
      = f.label :instruction
      = f.text_area :instruction
  .form-group
    = f.submit 'Save'
