= form_for ([@recipe, @new_direction]) do |f|
  .form-group
    .well
      .row
        = f.label "Order Number"
      .row
        = f.text_field :order, style:{:size=>2}
        .row
        = f.label :instruction
        .row
        = f.text_area :instruction
  .form-group
    = f.submit 'Save', class: 'save-directions btn btn-info'
