= form_for ([@recipe, @recipe.comments.build]) do |f|
  .well
    .form-group
      %div
        = f.label :commenter
      %div  
        = f.text_field :commenter
    .form-group
      %div
        = f.label :body
      %div
        = f.text_area :body
    .form-group
      %div
        = f.submit 'Comment', class: "comment-btn"
