.row
  .col-lg-12
    .well
      = form_for @recipe, :html => {:class => 'form-horizontal',:multipart => true}  do |f|
        = render "shared/error_messages", :target => @recipe
        %fieldset
          .form-group
            = f.label :category, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_area :category, class: 'form-control', placeholder: "ex. Indian, vegiterian, spicy"
          .form-group
            = f.label :title, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_field :title, class: 'form-control'
          .form-group
            = f.label :photo, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.file_field :photo, class: 'form-control'
          .form-group
            = f.label :description, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_area :description, class: 'form-control', placeholder: "Explain your recipe"
          .ingredients
            = f.fields_for :ingredients do |ff|
              - if ff.object.id?
                .ingredient.on
                  =render 'ingredients/form', ff: ff
              - else
                .ingredient.off
                  =render 'ingredients/form', ff: ff
          .form-group
            .col-lg-12
              %button.btn.btn-primary.add-ingredient{type: "button"}
                %span.glyphicon.glyphicon-plus 
                Add Ingredients
        .form-group
          .col-lg-12
            = f.submit class: 'save btn btn-success btn-md btn-block'
            
:javascript

  $(document).ready(function(){
    $('.ingredient.off').hide();
    $('.add-ingredient').on('click',function(event){
      event.preventDefault();
      var row = $('.ingredient.off:first') 
      row.fadeIn();
      row.removeClass('off');
      row.addClass('on');
    });
  });


  $(document).ready(function(){
    $('form').submit(function(e){
      $('input[type="text"]').each(function(){
        if($(this).val() == ''){
          $(this).prop('disabled',true);
          $(this).closest('.ingredient').find('select').prop('disabled',true);
        }
       });
    });
  });



