.container
  .row
    .col-md-6
      .recipe-image
        .social-media
          .fa.fa-facebook-square.fa-3x
          .fa.fa-twitter-square.fa-3x
          .fa.fa-pinterest-square.fa-3x
          .fa.fa-google-plus-square.fa-3x
        =image_tag @recipe.photo, class: 'img-responsive'
      .my-recipe  
        by #{@recipe.user.first_name.humanize}
      .my-recipe
        -if user_signed_in? && current_user.rated_recipes.present? && current_user.rated_recipes.include?(@recipe.id)
          %p.text-muted.my-recipe You have rated this recipe
        -elsif user_signed_in?
          .my-recipe
            %strong Rate #{@recipe.title}:
            .stars
              =image_tag("star-off.png", class: 'star1')
              =image_tag("star-off.png", class: 'star2')
              =image_tag("star-off.png", class: 'star3')
              =image_tag("star-off.png", class: 'star4')
              =image_tag("star-off.png", class: 'star5')
        -if user_signed_in?
          %h5
            = link_to "Delete from Favorite", favorite_path(recipe_id: @recipe.id, user_id: current_user.id), method: :delete, remote: :true , id: 'delete-favorite', style: 'display: none', class: 'my-recipe'
            
            = link_to " Add to Favorite", favorite_path(@recipe), method: :put, remote: :true, id: 'add-favorite', style: 'display: none', class: 'my-recipe fa fa-heart fa-1x'
          -if current_user.has_role? :admin 
            -if recipe_featured?(@recipe)
              = link_to "Admin: Delete from Featured Recipes", featured_recipe_path(recipe_id: @recipe.id), method: :delete 
            -else
              =link_to "Admin: Feature this Recipe", featured_recipe_path(@recipe), method: :put    
        -else
          %h4
            = link_to "Sign in to Add to Favorite", new_user_session_path
      .my-recipe
        -if @recipe.user == current_user
          =link_to "Edit Recipe/Ingredients ", edit_recipe_path, class: "btn btn-success btn-sm"    
    .col-md-6.description
      .title
        %h1.orange= @recipe.title
      .my-recipe
        -if raters.present? 
          -@recipe.average_ratings.times do |i|
            =image_tag("star-on.png")
          (#{raters})
      .my-recipe
        %strong Category:
        - @recipe.tags.each do |word|
          %span.pill= word
      .my-recipe
        %h4 #{@recipe.description.humanize}
      .my-recipe
        -if @comments.present?
          .comments
            %h5 Comments:
            = render @comments
            = will_paginate @comments#, renderer: BootstrapPagination::Rails
        -else
          -if user_signed_in?
            %div
              Be the first to review this recipe!
            %div  
              %button.btn.btn-warning.add-comment
                %span.glyphicon.glyphicon-plus
                  Comment
              .new-comment      
                = render "comments/form"
  .row
    .col-md-12
      %h2.orange Ingredients
      = render 'ingredients'
      = link_to " add all ingredients", add_all_to_cart_path(ids: @ingredients.map(&:id), rid: @recipe.id), class: "fa fa-cart-plus pull-right"
  .row
    .col-md-12
      %h2.orange Directions
      .well
        .container
          .row
            .col-md-3.col-xs-6 Prep: #{min_to_hr(@recipe.prep_time )}
            .col-md-3.col-xs-6 Cook: #{min_to_hr(@recipe.cook_time )}
            .col-md-3.col-xs-6 Total: #{min_to_hr(@recipe.prep_time, @recipe.cook_time )} 
            .col-md-3.col-xs-6 Serves: #{@recipe.servings}
      
        = render 'directions'
        .row
          %div
            -if @recipe.user == current_user
              .direction-form
                = render 'directions/form'
            .clearfix    


:javascript
  $(document).ready(function(){
    var show_fav_link = #{current_user.has_favorited?(@recipe) ? "false" : "true" if user_signed_in?  }
    if(show_fav_link){
      $('#add-favorite').show()
    }else{
      $('#delete-favorite').show()
    }
    $('#add-favorite').bind('ajax:success', function() {
      $('#add-favorite').hide()
      $('#delete-favorite').show()
    });
    $('#delete-favorite').bind('ajax:success', function() {
      $('#add-favorite').show()
      $('#delete-favorite').hide()
    });
    $('.add-instruction').on('click', function(e){
      e.preventDefault();
      $('.direction-form').show()
    });
    $('.new-comment').hide();
    $('.add-comment').on('click', function(e){
      e.preventDefault();
      $('.new-comment').fadeToggle("slow", "linear");
    });
    
    
    function assign_behavior(i){
      
      $('.star'+i).on('mouseover',function(e){
        for ( var x = 1; x <= i; x++ ) {
          $('.star'+x).prop('src', '/assets/star-on.png') 
        }  
      });
      $('.star'+i).on('mouseout', function(e){
        for ( var x = 1; x <= i; x++ ) {
          $('.star'+x).prop('src', '/assets/star-off.png') 
        }
      });
      $('.star'+i).on('click',function(e){
        $.ajax("/rate?id=#{@recipe.id}&stars="+i);
        for ( var x = 1; x <= i; x++ ) {
          $('.star'+x).off('mouseover') 
          $('.star'+x).off('mouseout') 
        } 
        $('.stars').hide()
      });
    }
    assign_behavior(1);
    assign_behavior(2);
    assign_behavior(3);
    assign_behavior(4);
    assign_behavior(5);
  });
  
