.container
  .col-md-6
    .row
      .col-md-12
        =image_tag @recipe.photo
        %h4
          Average Rating for 
          =@recipe.title    
          -@recipe.average_ratings.times do |i|
            =image_tag("star-on.png")
        -if current_user.rated_recipes.present? && current_user.rated_recipes.include?(@recipe.id)
          %p.text-muted You have rated this recipe
        -else
          %strong Recipe Rating: 
          .stars
            =image_tag("star-off.png", class: 'star1')
            =image_tag("star-off.png", class: 'star2')
            =image_tag("star-off.png", class: 'star3')
            =image_tag("star-off.png", class: 'star4')
            =image_tag("star-off.png", class: 'star5')     
        %h2= @recipe.title
        %strong Category:
        - @recipe.tags.each do |word|
          %span.label.label-info= word
        %p
        %strong Description:
        = @recipe.description
        -if user_signed_in?
          %h5
            -if current_user.has_favorited? @recipe
              = link_to "Delete from Favorite", favorite_path(recipe_id: @recipe.id, user_id: current_user.id), method: :delete, remote: :true 
            -else
              = link_to "Add to Favorite", favorite_path(@recipe), method: :put, remote: :true
        -else
          %h4
            = link_to "Sign in to Add to Favorite", new_user_session_path
  .col-md-6
    .row
      %p
        - if @ingredients.present?
          %h2 Ingredients
          %table.table.table-striped.table-bordered
            %tr
              %th Item
              %th Amount
              %th Unit
              %th
              - @ingredients.each do |i|
                %tr
                  %td= i.item
                  %td= i.amount
                  %td= i.unit
                  %td= link_to " Add to Shopping List", add_to_cart_path(i), class: 'glyphicon glyphicon-shopping-cart'
        -if @recipe.user == current_user
          =link_to "Edit Recipe ", edit_recipe_path, class: "btn btn-success btn-sm"
.container
  .col-md-6 
    = will_paginate @comments#, renderer: BootstrapPagination::Rails
    = render @comments
    -if user_signed_in?
      %button.btn.btn-warning.add-comment
        %span.glyphicon.glyphicon-plus
        Review
      = render "comments/form"
  .col-md-6
    .well
      %h4 Directions
      %table.table.table-striped.table-bordered
        %tr
          %th Num.
          %th Instruction
          %th
          %th
        - @directions.each do |direction|
          =render "directions/direction", direction: direction
      .direction-form
        = render 'directions/form'
      = link_to 'Add Instructions', new_recipe_direction_path(@recipe), class: "btn btn-success btn-sm btn-block add-instruction"   


:javascript
  $(document).ready(function(){
    $('.direction-form').hide();
    $('.add-instruction').on('click', function(e){
      e.preventDefault();
      $('.direction-form').show()
    });

    $('.new_comment').hide();
    $('.add-comment').on('click', function(e){
      e.preventDefault();
      $('.new_comment').toggle('fade');
    });
    


    function assign_behavior(i){
      
      $('.star'+i).on('mouseover',function(e){
        for ( var x = 1; x <= i; x++ ) {
          $('.star'+x).prop('src', '/assets/star-on.png') 
        }  
      });

      $('.star'+i).on('mouseout', function(e){
        for ( var x = 1; x <= i; x++ ) {
          $('.star'+x).prop('src', '/assets/star-off.png') 
        }
      });

      $('.star'+i).on('click',function(e){
        $.ajax("/rate?id=#{@recipe.id}&stars="+i);
        for ( var x = 1; x <= i; x++ ) {
          $('.star'+x).off('mouseover') 
          $('.star'+x).off('mouseout') 
        } 
        $('.stars').hide()
      });


    }
    assign_behavior(1);
    assign_behavior(2);
    assign_behavior(3);
    assign_behavior(4);
    assign_behavior(5);

  });



             
