.container
  .row
    .col-md-6
      .recipe-image
        .social-media
          .fa.fa-facebook-square.fa-3x
          .fa.fa-twitter-square.fa-3x
          .fa.fa-pinterest-square.fa-3x
          .fa.fa-google-plus-square.fa-3x
        =image_tag @recipe.photo
      .col-md-12  
        by #{@recipe.user.first_name.humanize}
        -if user_signed_in? && current_user.rated_recipes.present? && current_user.rated_recipes.include?(@recipe.id)
          %p.text-muted You have rated this recipe
        -elsif user_signed_in?
          %strong Rate #{@recipe.title}:
          .stars
            =image_tag("star-off.png", class: 'star1')
            =image_tag("star-off.png", class: 'star2')
            =image_tag("star-off.png", class: 'star3')
            =image_tag("star-off.png", class: 'star4')
            =image_tag("star-off.png", class: 'star5')
        -if user_signed_in?
          %h5
            = link_to "Delete from Favorite", favorite_path(recipe_id: @recipe.id, user_id: current_user.id), method: :delete, remote: :true , id: 'delete-favorite', style: 'display: none'
            
            = link_to " Add to Favorite", favorite_path(@recipe), method: :put, remote: :true, id: 'add-favorite', style: 'display: none', class: 'fa fa-heart fa-1x'
          -if current_user.has_role? :admin 
            -if recipe_featured?(@recipe)
              = link_to "Admin: Delete from Featured Recipes", featured_recipe_path(recipe_id: @recipe.id), method: :delete 
            -else
              =link_to "Admin: Feature this Recipe", featured_recipe_path(@recipe), method: :put    
        -else
          %h4
            = link_to "Sign in to Add to Favorite", new_user_session_path
      .col-md-12
        -if @recipe.user == current_user
          =link_to "Edit Recipe/Ingredients ", edit_recipe_path, class: "btn btn-success btn-sm"    
    .col-md-6.description
      .col-md-12
        %h1.orange
          =@recipe.title
      .col-md-12
        -if raters.present? 
          -@recipe.average_ratings.times do |i|
            =image_tag("star-on.png")
          (#{raters} Reviews)
      .col-md-12
        %strong Category:
        - @recipe.tags.each do |word|
          %span.label.label-primary= word
      .col-md-12
        %h4 #{@recipe.description.humanize}
      .col-md-12
        -if @comments.present?
          %h5 Comments:
          .comments
            = render @comments
            = will_paginate @comments#, renderer: BootstrapPagination::Rails
        -else
          Be the first to review this recipe!
        -if user_signed_in?
          %button.btn.btn-warning.add-comment
            %span.glyphicon.glyphicon-plus
              Comment
          .new-comment      
            = render "comments/form"
  .row                
    .col-xs-12
      %h2.orange Ingredients
      - if @ingredients.present?
        %table.table.table-striped.table-bordered
          %tr
            %th Item
            %th Amount
            %th Unit
            %th
            - @ingredients.each do |i|
              %tr
                %td= i.item
                %td= float_to_fraction(i.amount)
                %td= i.unit
                %td= link_to"" ,add_to_cart_path(i), title: "add to cart", class: 'fa fa-cart-plus cart'
      .col-md-6.col-md-offset-6.text-right
        = link_to " add all ingredients", add_all_to_cart_path(ids: @ingredients.map(&:id), rid: @recipe.id), class: "fa fa-cart-plus"
  .row
    .col-xs-12
      %h2.orange Directions
  .row  
    .col-md-12.col-xs-12.col-sm-12
      .well
        .row.prep_row
          %ul.time.unstyled
            .col-md-3.col-xs-6
              %li.prep Prep: #{min_to_hr(@recipe.prep_time )} 
              / .dir-num.text-center #{min_to_hr(@recipe.prep_time )}  
            .col-md-3.col-xs-6 
              %li.prep Cook: #{min_to_hr(@recipe.cook_time )}
            .col-md-3.col-xs-6 
              %li.prep Total: #{min_to_hr(@recipe.prep_time, @recipe.cook_time )}  
            .col-md-3.col-xs-6
              %li.prep Serves: #{@recipe.servings}    
        .row
          .col-md-12
            - @directions.select{|d| d.persisted?}.sort_by{|d| d.order}.each do |direction|
              - unless direction.new_record?
                .row.direction
                  .col-md-2.col-xs-12.col-sm-12.direction-step
                    .round
                      .txt-round
                        = direction.order
                  .col-md-10
                    =render "directions/direction", direction: direction      
            .row
              .col-md-1
              .col-md-11 
                -if @recipe.user == current_user
                  .direction-form
                    = render 'directions/form'
                .clearfix    


:javascript
  $(document).ready(function(){
    var show_fav_link = #{current_user.has_favorited?(@recipe) ? "false" : "true" if user_signed_in?  }
    if(show_fav_link){
      $('#add-favorite').show()
    }else{
      $('#delete-favorite').show()
    }
    $('#add-favorite').bind('ajax:success', function() {
      $('#add-favorite').hide()
      $('#delete-favorite').show()
    });
    $('#delete-favorite').bind('ajax:success', function() {
      $('#add-favorite').show()
      $('#delete-favorite').hide()
    });
    $('.add-instruction').on('click', function(e){
      e.preventDefault();
      $('.direction-form').show()
    });
    $('.new-comment').hide();
    $('.add-comment').on('click', function(e){
      e.preventDefault();
      $('.new-comment').fadeToggle("slow", "linear");
    });
    
    
    function assign_behavior(i){
      
      $('.star'+i).on('mouseover',function(e){
        for ( var x = 1; x <= i; x++ ) {
          $('.star'+x).prop('src', '/assets/star-on.png') 
        }  
      });
      $('.star'+i).on('mouseout', function(e){
        for ( var x = 1; x <= i; x++ ) {
          $('.star'+x).prop('src', '/assets/star-off.png') 
        }
      });
      $('.star'+i).on('click',function(e){
        $.ajax("/rate?id=#{@recipe.id}&stars="+i);
        for ( var x = 1; x <= i; x++ ) {
          $('.star'+x).off('mouseover') 
          $('.star'+x).off('mouseout') 
        } 
        $('.stars').hide()
      });
    }
    assign_behavior(1);
    assign_behavior(2);
    assign_behavior(3);
    assign_behavior(4);
    assign_behavior(5);
  });
  
