.row
	.col-md-12
		=image_tag @recipe.photo
		%p
		%strong Title:
		= @recipe.title
		%p
		%strong Category:
		
		= @recipe.category
		%p
		%strong Description:
		= @recipe.description
		-if user_signed_in?
			%h5
				-if current_user.favorites.include? @recipe
					= link_to "Delete from Favorite", favorite_recipe_path(@recipe, type: "unfavorite"), method: :put 
				-else
					= link_to "Add to Favorite", favorite_recipe_path(@recipe, type: "favorite"), method: :put
		-else
			%h5
				= link_to "Sign in to Add to Favorite", new_user_session_path
		%p
		- if @ingredients.present?
			%p
			%table
				%tr
					%th Item
					%th Amount
					%th Unit
				- @ingredients.each do |i|
					%tr
						%td= i.item
						%td= i.amount
						%td= i.unit
		-if @recipe.user == current_user
			-if @ingredients.present?
				= link_to "Edit Ingredients   |   ", ingredients_edit_path(recipe_id: @recipe.id)
			-else
				= link_to "Add Ingredients   | ", new_ingredient_url(recipe_id: @recipe.id)
			=link_to "Edit Recipe ", edit_recipe_path
%h4 Comments
= render @recipe.comments
%h4 Add a comment:
= render "comments/form"
