<!DOCTYPE html>
<html>
<head>
  <title>in2food</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class = "navbar-header">
				<a href='<%=root_path%>' class="navbar-brand">in<span style='color: #ff8200'>2</span><b>food</b></a>
			</div>
				
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				<ul class = "nav navbar-nav">
					<li > <%= link_to "Create a Recipe", new_recipe_path %>
					<% if user_signed_in? %>
						<li > <%= link_to "My Recipes", recipes_path %> 
					<% else %>	
						<li > <%= link_to "Recipes", recipes_path %> 
					<%end%>
					<li> <%= link_to " Shopping List", shopping_lists_path, class: "glyphicon glyphicon-shopping-cart"  %> 
        </ul>
				<ul class = "nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li> <%= link_to current_user.first_name.humanize, "#" %></li>
						<li> <%= link_to "Sign Out", destroy_user_session_path, :method=>:delete %> </li>
            			<li>
            				<p>
            					<%= form_tag recipes_path, :method => 'get' do %>
               					<%= text_field_tag :search, params[:search], :class=>"fcol-lg-3", :placeholder=>"Search for Recipes" %>
             					<% end %>		
             				</p>  
            			</li>
					<% else %>
						<li><%= link_to "Sign Up", new_user_registration_path, style: 'color: #ff9606' %></li>
						<li > <%= link_to "Sign In", new_user_session_path %> </li>
						<li><p><%= form_tag recipes_path, :method => 'get' do %>
               <%= text_field_tag :search, params[:search], :class=>"fcol-lg-3", :placeholder=>"Search for Recipes" %>
             <% end %></p>  
            </li>
					<% end %>
				</ul>	
			</div>	
		</div>
	</div>
	<div class="row ">
		<div class="col-lg-10">
			<p class="alert alert-dissmissable alert-success"><%= render 'layouts/notice'%></p>
    		<p class="alert"><%= alert %></p>
    	</div>	
	</div>
	<div class='container'><%= yield %></div>
</body>
</html>
